.gridContainer {
    display: grid;
    width: 100%;
    max-width: 50rem;
    aspect-ratio: 1;
    margin: 0;
    padding: 0;
    gap: 2px;
    grid-template-columns: repeat(8, auto);
    grid-template-rows: repeat(8, auto);
    position: relative;
}

.checkmate {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
}

.timeout {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
.promotion {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 101;
}