<h3>Chess</h3>

<Board GameBoard="game.Board"></Board>
<button @onclick=SendMove>Send Move</button>

@code {
	[CascadingParameter]
	public HubConnection? hubConnection { get; set; }
	[CascadingParameter]
	public string? username { get; set; }
	[CascadingParameter]
	public Game? game { get; set; }
	[CascadingParameter]

	public async Task SendMove()
	{
		Move moveToSend = new Move()
			{
				StartingTileId = 0,
				EndingTileId = 10,
				Piece = PieceEnum.WhiteQueen
			};
		if (hubConnection is not null)
		{
			await hubConnection.SendAsync("HandleMove", Guid.NewGuid().ToString(), moveToSend);
		}
	}

}