

@if (SquareColor == ColorEnum.White)
{
	<div class="square light">@Piece?.PieceType @Piece?.Color</div>
} else
{
	<div class="square dark">@Piece?.PieceType @Piece?.Color</div>
}


@code {
	[Parameter]
	public ColorEnum SquareColor { get; set; }
	[Parameter]
	public IPiece? Piece { get; set; }
}
