

<div 
	class="
		square 
		@(SquareColor == ColorEnum.White ? "light" : "dark")
		@(Available ? "available" : "") @(Selected ? "selected" : "")
		@(GameState.KingInCheck && Piece?.PieceType == PieceEnum.King && Piece?.Color == GameState.CurrentTurnColor ? "Check" : "")
		@Piece?.PieceType
		@Piece?.Color
	"
		></div>


@code {
	[Parameter]
	public ColorEnum SquareColor { get; set; }
	[Parameter]
	public IPiece? Piece { get; set; }
	[Parameter]
	public bool Selected { get; set; }
	[Parameter]
	public bool Available { get; set; }
	[CascadingParameter]
	public Game GameState { get; set; }
}
