

@if (SquareColor == ColorEnum.White)
{
	if (Selected)
	{
		<div class="square light selected">@Piece?.PieceType @Piece?.Color</div>
	}
	else
	{
		if (Available)
		{
			<div class="square light available">@Piece?.PieceType @Piece?.Color</div>
		}
		else
		{
			<div class="square light">@Piece?.PieceType @Piece?.Color</div>
		}
		
	}

} else
{
	if (Selected)
	{
		<div class="square dark selected">@Piece?.PieceType @Piece?.Color</div>
	}
	else
	{
		if (Available)
		{
			<div class="square dark available">@Piece?.PieceType @Piece?.Color</div>
		}
		else
		{
			<div class="square dark">@Piece?.PieceType @Piece?.Color</div>
		}
		
	}
	
}


@code {
	[Parameter]
	public ColorEnum SquareColor { get; set; }
	[Parameter]
	public IPiece? Piece { get; set; }
	[Parameter]
	public bool Selected { get; set; }
	[Parameter]
	public bool Available { get; set; }
}
