<h3>White</h3>
<p>@WhiteTime.ToString()</p>
<h3>Black</h3>
<p>@BlackTime.ToString()</p>

@code {
[CascadingParameter]
public Game GameState { get; set; }
public TimeSpan WhiteTime { get; set; }
public TimeSpan BlackTime { get; set; }
System.Timers.Timer _timer;

protected override async Task OnInitializedAsync()
{
_timer = new System.Timers.Timer(1000.0);
_timer.Elapsed += OnTimedEvent;
_timer.AutoReset = true;
_timer.Enabled = true;
}
private void OnTimedEvent(Object source, System.Timers.ElapsedEventArgs e)
{
if (GameState.CurrentTurnColor == ColorEnum.White)
{
    WhiteTime -= new TimeSpan(0, 0, 1);
}
else
{
    BlackTime -= new TimeSpan(0, 0, 1);
}
InvokeAsync(StateHasChanged);
}
    }
