@inject ProtectedSessionStorage ProtectedSessionStore


@if (username is null)
{
    <div class="Login">
        <div class="LoginCard">
            <h2 class="loginh2">Enter Your Name</h2>
            <input class="loginInput" @bind="usernameInput" @bind:event="oninput" @onkeydown="@Enter" />
            <button class="btn loginButton" @onclick="@SetUsername">Submit</button>
        </div>
    </div>
}
else if (isLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <div class="Login">
        <h1>Loading...</h1>
    </div>
}

@code {
    private bool isLoaded;

        [Parameter]
        public RenderFragment? ChildContent { get; set; }

        public string? username { get; set; }
        private string? usernameInput;
        public string? userId { get; set; }

        protected override async Task OnInitializedAsync()
        {
            var result = await ProtectedSessionStore.GetAsync<Dictionary<string,string>>("User");
            if (result.Success)
            {
                username = result.Value["username"];
                userId = result.Value["userId"];
                
            }
            else
            {
                userId = Guid.NewGuid().ToString();
            }

            isLoaded = true;
        }

        public async Task SaveChangesAsync()
        {
            Dictionary<string, string> dict = new Dictionary<string, string>();
            dict["username"] = username;
            dict["userId"] = userId;
            await ProtectedSessionStore.SetAsync("User", dict);
        }

    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code == "Enter" || e.Code == "NumpadEnter")
        {
            await SetUsername();
        }
    }

    private async Task SetUsername()
    {
        if (usernameInput != null)
        {
            username = usernameInput;
            await SaveChangesAsync();
        }
    }
}