* {
    box-sizing: border-box;
    color: white;
}
:root {
    --bg: hsl(0, 0%, 25%);
}
body {
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}
input {
    background-color: rgb(16, 16, 16);
    border-radius: 0.5rem;
    margin: 0.2rem;
    padding: 0.3rem;
    border: none;
}
button {
    padding: 0;
    margin: 0;
    border: none;
}
.btn {
    background-color: hsl(205, 31%, 50%);
    border-radius: 0.5rem;
    margin: 0.2rem;
    padding: 0.3rem;
    border: none;
    transition-duration: 200ms;
    text-decoration: none;
}
    .btn:hover {
        cursor: pointer;
        background-color: hsl(205, 31%, 57%);
    }
h3 {
    font-size: 1.5em;
}
.Login {
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 0%, 0.65);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: clamp(25rem, 50%, 30rem);
    height: clamp(20rem, 50%, 25rem);
    background-color: hsl(0, 0%, 40%);
    border-radius: 0.5rem;
    margin-bottom: 5rem;
}

.loginInput {
    padding: 0.7rem;
    margin: 0.5rem;
    width: clamp(280px, 50%, 450px);
    text-align: center;
    background-color: rgb(16, 16, 16);
}

.loginButton {
    padding: 0.6rem;
    margin: 0.5rem;
    width: clamp(280px, 50%, 450px);
    background-color: hsl(205, 31%, 50%);
}

.lginh2 {
    font-size: 2em;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}
.color-blue {
    color: hsl(205, 31%, 50%);
}
.color-blue-light {
    color: hsl(204, 32%, 67%);
}

.timerContainer {
    padding: 1rem;
    background-color: hsl(0, 0%, 41%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(20rem, 23%, 25rem);
    height: clamp(10rem, 23rem, 15rem);
    border-radius: 0.2rem;
    margin: 0.8rem;
    text-align: center;
    font-size: 3em;
}
.timerValue {
    color: hsl(205, 31%, 35%);
}
.whiteTime {
    margin: 0.5rem;
    width: 90%;
    height: 40%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blackTime {
    margin: 0.5rem;
    width: 90%;
    height: 40%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    padding: 0.5rem;
}
.navbar {
    width: 100%;
    height: 5rem;
    background-color: grey;
    margin: 0;
    padding: 0;

}
.navbar-nav {
    display:flex;
    align-items: center;
    list-style: none;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0.8rem;
}
.nav-item {
    padding: 1rem;
    text-decoration: none;
    margin: 0;
}
.nav-end {
    margin-left: auto;
}
a {
    text-decoration: none;
}

.timeButton {
    font-size: 1.5em;
    padding: 2rem;
}







@media screen and (max-width:1132px) {
    .timerContainer {
        width: 50rem;
        max-width: 100%;
        flex-direction: row;
        margin: 0;
        height: auto;
    }
    .whiteTime {
        width: 45%;
    }
    .blackTime {
        width: 45%;
    }
    .columnContainer {
        width: 100%;
    }
    .rowContainer {
        align-items: center;
        justify-content: center;
    }
    .columnContainer{
        align-items: center;
        justify-content: center;
    }
}



#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 3.5rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }





