@page "/Create"
@inject NavigationManager Navigation


@if (gameGuid is null)
{

    <div class="rowContainer" style="margin-top:4rem; justify-content: center;">
        <div class="LoginCard" style="padding-bottom: 2rem;">
            <h2 class="loginh2">Select Time Control</h2>
            <div class="rowContainer">
                <button @onclick="() => CreateGameS(3)" class="btn timeButton">10 Min</button>
                <button @onclick="() => CreateGameS(3)" class="btn timeButton">5 Min</button>
                <button @onclick="() => CreateGameS(3)" class="btn timeButton">3 Min</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="rowContainer" style="margin-top:4rem; justify-content: center;">
        <div class="LoginCard" style="padding-bottom: 2rem;">
            <h2 class="loginh2">Send this id to your opponent:</h2>
            <h2 class="loginh2" style="color:yellow;">@gameGuid</h2>
            <p>When ready, click the button below to go to the game.</p>
            <a class="btn" href="/@gameGuid">Join Game</a>
        </div>
    </div>
}

@code {
    private int? timeControl = null;
    private string? gameGuid = null;

    private void CreateGameS(int n)
    {
        gameGuid = Guid.NewGuid().ToString();
        timeControl = n;
    }

    }
