@page "/Create"
@inject NavigationManager Navigation


@if (gameGuid is null)
{

    <div class="rowContainer" style="margin-top:4rem; justify-content: center;">
        <div class="LoginCard" style="padding-bottom: 2rem;">
            <h2 class="loginh2">Select Time Control</h2>
            <div class="rowContainer">
                <button @onclick="() => CreateGame(10.ToString())" class="btn timeButton">10 Min</button>
                <button @onclick="() => CreateGame(5.ToString())" class="btn timeButton">5 Min</button>
                <button @onclick="() => CreateGame(3.ToString())" class="btn timeButton">3 Min</button>
            </div>
        </div>
    </div>
}
else
{
    <div class="rowContainer" style="margin-top:4rem; justify-content: center;">
        <div class="LoginCard" style="padding-bottom: 2rem;">
            <h2 class="loginh2">Send this id or link to your opponent:</h2>
            <h3 class="color-blue-light">@gameGuid</h3>
            <h3 style="text-align:center" class="color-blue-light">https://localhost:7135/@gameGuid</h3>
            <p>When ready, click the button below to go to the game.</p>
            <a class="btn" style="padding:0.8rem;" href="/live/@gameGuid">Join Game</a>
        </div>
    </div>
}

@code {
    private int? timeControl = null;
    private string? gameGuid = null;

    private void CreateGame(string t)
    {
        string guid = Guid.NewGuid().ToString();
        gameGuid = guid + "*" + t;
    }

    }
