@page "/Join/"
@inject NavigationManager Navigation

<div class="rowContainer" style="margin-top:4rem; justify-content: center;">
    <div class="LoginCard" style="padding-bottom: 2rem;">
        <h2 class="loginh2">Enter Game Id</h2>
        <input class="loginInput" @bind="gameGuid" />
        <a class="btn loginButton" style="text-align: center;" href="/@gameGuid">Join Game</a>
    </div>
</div>

@code {
    private string? gameGuid = null;

}